<div class="top-linear"></div>
<header>
  <h1>
    <a href="/" tabindex="-1"><span>M</span>ad<span>L</span>oad</a>
  </h1>
  <nav>
    <!-- <a href="/about">About</a> -->
    <a href="https://twitter.com/MadLoad" target="_blank" title="Follow us on Twitter!" tabindex="-1">@MadLoad</a>
  </nav>
</header>
