<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found - MadLoad</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/404.css" />
    <?- include('includes/favicons.ejs'); ?>
  </head>
  <body>
    <?- include('includes/header'); ?>
    <main>
      <div class="err-box">404</div>
      <div class="err-text"><?= data.url ?> not found!</div>
      <a class="go-home" href="/">Go to Home</a>
    </main>

    <!-- <?- // include('includes/footer'); ?> -->
  </body>
</html>