// Main Colors
$mainColor: #2ecc71;
$primaryColor: #3498db;
$bgColor: #1c1e1f;
$bgPrimaryColor: #252F31;
$redColor: #c8001d;
$whiteColor: #f8f9fa;
$darkMarkerColor: #1c1e1fd9;


$borderRadiusValue: 10px;


// Media Query
$minSmallScreenSize:  576px;
$minMediumScreenSize: 768px;
$minLargeScreenSize:  992px;
$minXLargeScreenSize: 1200px;
